.titulo-item{
    font-size: xx-large;
    /*font-family: "Playfair Display";*/
    font-weight: bolder;
    color: black;
    /*margin-left: 180px;*/
  }
  
  .titulo-item p{
    font-family: "Playfair Display";
    text-align: center;
    margin: 0;
    margin-top: 1em;
  }
  
  .text-home{
    margin-left: 180px;
    margin-right: 180px;
  }
  
  .text-home p{
    font-size: 20px;
    font-weight: 500;
  
  }
  
  .conteiner{
    /*max-width: 1000px;*/
    margin: 0 auto;
    padding: 0 0.5em;
  }
  
  .section-header{
    font-family: "Playfair Display";
    font-size: xx-large;
    color: rgb(0, 0, 0);
  }
  
  .presentacion-lista{
    display: flex;
    flex-wrap: wrap;      
    /*Con wrap permito que al achicar la ventana en horizontal, las imagenes se vean una arriba de la otra*/
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .presentacion-lista img:hover{
    opacity: 0.5;
  }
  
  .presentacion-texto{
    display: block;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 15px;
    color: black;
    font-weight: bolder;
  }
  
  .imagen-personal{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    opacity: 1;
  }
  
  .galeria-fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    padding: 30px 20px 0;
    margin-top: 0px;
      margin-right: auto;
      margin-bottom: 30px;
      margin-left: auto
  }
  
  .insta-foto{
    text-align: left;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 15px;
    margin-top: 0px;
    /*Ajusto el texto en el 80% del ancho de la clase .galeria-item */
    width: 100%;
  }
  
  .insta-item{
    margin: 10px;
    align-items: center;
    width: 300px;
  }
  
  .insta-foto{
    width: 100%;
    /*display: inline-block;*/
  }
  
  .fotos-titulo{
    font-size: 1.5em;
    font-family: "Playfair Display";
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
  }
  
  .insta-texto{
    font-size: 0 1.5em;
    font-weight: bolder;
    color: black;
  }
  