
.table{
	width: 100%;
	border-collapse: collapse; /*se colapsan los bordes (estilo) */
}

.table td,.table th{
  padding: 12px 15px;
  text-align: center;
  font-size:20px;
  color: aliceblue; /*Color de letra*/
}

/*responsive*/

@media(max-width: 500px){
	.table, .table tbody, .table tr, .table td {display: block; width: 100%;}
	.table tr {margin-bottom:15px;}

	.table td {
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	} 
	.table td::before {
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}


/* //////////////
 Inicio cuerpo
//////////////*/

Body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .05rem;
  }
  
  head, body{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      /* font-family: "Yanone Kaffeesatz"; */
      color: rgb(0, 0, 0);
      font-family: 'Titillium Web', sans-serif; 
  }
  
  input, button, select {
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
    }
  
  /* //////////////
   Tablas
  //////////////*/
  
  .elementos_listado{
      color: grey;
      margin-bottom: 4vh;
      margin-left: 4vw;
  }
  
  .columna_datos{
    float: right;
  }
  
  /* /////////////////////
   Contenido
  //////////////////////*/
  
  .content-center {
    max-width: 800px;
    margin: 0 auto 0 auto;
    text-align: center;
  }
  
  section { padding: 120px 0; } /* El 0 al lado arregla todo, ver*/
  
  .form-control {
    font-size: 14px;
    border: 1px solid #cacaca;
    padding: 15px;
    border-radius: 2px;
  }
  
  .form-control:focus {
    border: 1px solid var(--dark-color);
    outline: none;
    box-shadow: none;
  }
  
  
  /* CSS del index */
  
  
  .info h2, h3{
    max-width: 100rem !important;
  }
  
  .lista-info{
    max-width: 27rem;
  
  }
  
  /*Boton de enviar*/
  .btn {                 
    padding: .5rem 1.8rem;
    border-radius: .2rem;
    
  }
  
  
  .btn-secondary {        
    background-color: var(--dark);
  }
  
  /*Fin boton de enviar*/
  
  
  @media (max-width: 1000px){
    .info{width: 100%;}
    .ingreso{width: 100%;}
  }
  
  /*Fin CSS del index */
  
  /* CSS de database */
  
  /*
  .info_database{
    padding: 6rem;
  }
  */
  
  @media (max-width: 1000px){
    .info_database{width: 100%;}
    .ingreso_database{width: 100%;}
  }
  
  /*Fin CSS de database */
  
  
/*--------------------------------- (común) Comienzo barra de navegación ----------------------------------------------*/

.Titulo-nav{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0.20em;
    color: var(--white);
}

a {
    color: var(--light);
}

a:hover {
    color: var(--light);
    text-decoration: none;
}

.zorro-blanco{         /*(común) Imagen icono nav */
    height: 50px;
    padding-right: 1em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.navbar {                        /*(común)*/ 
    background-color: var(--dark);
    min-height: 5rem;
}

.nav-link {                      /*(común) Texto navegación*/
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white);
}
.navbar-toggler:focus { outline: none; }   /*Para que no se vea el recuadro naranja cuando alguien le da click*/

.elemento-navbar:hover{                    /*(común) le da un delay a la coloración de las palabras de la barra de navegación*/
    color: #ff6600!important;
    font-weight: 500!important;
    transition:all .5s ease-in-out!important;
}

.ele-navbar:focus{
    color: #ff6600!important;
    font-weight: 500!important;
}

.desplegable-items{
    margin-left: 2rem;
}

/*--------------------------------- (común) Fin barra de navegación ----------------------------------------------*/
/*--------------------------------- (común) Definición de colores (fondo y letra) --------------------------------*/
:root {
    --dark:#1a1a1a;
    --white: #ffffff;
    --light-grey: #efefef;
    --primary-color: #3a4052;
}

.bg-light {                       /*Color de fondo blanco*/
    background-color: var(--white) !important;
}

.bg-light-grey {                 /*Color de fondo gris claro*/
    background-color: var(--light-grey);
}

.bg-dark {                      /*Color de fondo oscuro*/
    background-color: var(--dark) !important;
}

.bg-naranja{
    background-color: #ff6600;
}

.text-dark {
    color: var(--dark) !important;
}

.texto-naranja{
    color: #ff6600;
}

.texto-azul-oscuro{
    color: var(--primary-color)
}
/*---------------------------------- (común) Fin definición de colores (fondo y letra) ----------------------------*/

/* //////////////
 Control de datos
//////////////*/

.main-div, .loggedin-div {
    margin: 0px auto;
    padding: 20px;
    width: 60%;
  }

  .main-div input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  
  .main-div input:focus {
    border: 1px solid #777;
  }

  .main-div select { /*Modificador del selector (cuando tengo que seleccionar el producto por ejemplo)*/
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }

  .main-div select:focus {
    border: 1px solid #777;
  }
  
  .main-div button, .loggedin-div button {
    background-color: orangered;
    color: #fff;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  
  .main-div button:hover, .loggedin-div button:hover {
    background: #fff;
    color: orangered;
    border: 1px solid orangered;
    cursor: pointer;
  }
  


/* //////////////
 Inicio fuentes
//////////////*/

@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
/* //////////////
 Fin fuentes
//////////////*/

a:hover { text-decoration: none; }

/* //////////////
 Inicio colores
//////////////*/
:root{
    --main-bg-color: rgb(41, 80, 109);
    --main-bg-color-a: rgba(4, 32, 55, 0.7);
    --dark-blue: rgb(4, 32, 55);
    --dark-color: #1a1a1a;
    --smooth-blue: #5d8ffc;
    --dark-grey: #212121;
    --primary-color: #3a4052;
    --light-grey-color: #f5f5f5;
    --dark:#1a1a1a;
    --white: #ffffff;
}

.bgDarkGrey { background-color: var(--dark-grey); }
.bgDark { background-color: var(--dark-color); }
.bgLight { background-color: var(--white-color); }
.bgLightGrey { background-color: var(--light-grey-color); }
.colorDark { color: var(--dark-color) !important; }

.text-smooth-blue{ color: var(--smooth-blue);}
.text-orangered{color: orangered;}
.text-dark{color: var(--dark-color);}
.text-darkGrey{color: var(--dark-grey);}
.text-darkBlue{color: var(--primary-color);}
/* //////////////
 Fin colores
//////////////*/

/* //////////////
 Letra
//////////////*/

.titulos{
    padding-left: 0px;
    padding-right: 0px;
  }
  
  h1 { font-size: 66px; font-weight: 700; line-height: 80px; }
  h2 { font-size: 48px; margin-bottom: 30px; }
  h3 { font-size: 33px; }
  h5 { margin-bottom: 0px; }
  
  p {
    font-size: 18px;
    color: var(--dark-color);
    opacity: .8;
    line-height: 1.8;
    margin-bottom: 0px;
  }

  hr {
    border: 0 none #5d8ffc;
    border-top: 1px solid #5d8ffc;
    height: 1px;
    margin: 5px 0;
    display: block;
    clear: both;
    }

    .Titulo-foto1{
      max-width: 100%;
      width: 19rem;
      background-color: var(--dark-color);
    
    }
    
    .Titulo-foto2{
      max-width: 100%;
      width: 16rem;
      background-color: var(--dark-color);
    }
    
    .Titulo-foto3{
      max-width: 100%;
      width: 12rem;
      background-color: var(--dark-color);
    }
    
    .Titulo-inicio-img {
      max-width: 100%;
      width: 7rem;
      background-color: white;
    }
    
    .Titulo-inicio-img2 {
      max-width: 100%;
      width: 12.5rem;
      background-color: white;
    }
    
    .Titulo-inicio-img3 {
      max-width: 100%;
      width: 15rem;
      background-color: white;
    }
    
    .Titulo-inicio-img4 {
      max-width: 100%;
      width: 6rem;
      background-color: white;
    }

  /* /////////////////////
 Bajado suave de página
//////////////////////*/

html {
    scroll-behavior: smooth;
  }

